.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-weight: bold;
}

.main-body{
    background-color: bisque;
}

.div-1{
    font-family: 'Courier New', Courier, monospace;
}

.div-2{
    font-family: 'Courier New', Courier, monospace;
}
